body{
    margin: 0px;
}

.navbarUL{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;

    display: block;
    overflow: hidden;
    height: 30px;
    padding-top: 10px;
    background-image: linear-gradient(to right,#284177,#EDE8E4);
}
.navbar a.navbarAnchor{
    text-decoration: none;
    padding: 40px;
    color: white;
    font-family: "Bona Nova SC", serif;
}
.navbar a.navbarAnchor:hover{
    background-color: #83CEEC;
    cursor: pointer;
}
.navbarList{
    float: left;
}
.header{
    margin: 0px;
    padding: 0px;
    height: 500px;
    background-image: url("headerPic2.png");
    background-size: auto;
}
.headerTitle{
    margin: 0px;
    padding: 0px;
}
.headerTitleP{
    margin: 0px;
    padding: 0px;
    position: relative;
    left:5%;
    width: 85%;
    padding-top:200px;
    font-size: 80px;
    font-family: "Bona Nova SC", serif;
    color: white;
}
.divServicesH1{
    font-family: "Bona Nova SC", serif;
    font-size: 45px;
    margin-left: 5%;
    margin-top: 5%;
}
.verticalDivServices{
    height: 200px;
    margin-left:5%;
    width: 90%;

}
.horizontalDivServices1{
    height: 180px;

}
.servicesFrontEnd{
    border: 1px solid black;
    height: 170px;
    width: 45%;
    display: inline-block;

}
.servicesMaintenence{
    border: 1px solid black;
    height: 170px;
    margin-left: 5%;
    width: 45%;
    display: inline-block;
}
.servicesDL{
    margin-left: 5%;
    padding-bottom: 25px;
    border-bottom: 3px solid black;
    width: 90%;
}
.servicesDT{
    font-family: "Bona Nova SC", serif;
}
.servicesDD{
    width: 90%;
    font-family: "Bona Nova SC", serif;
}
.buttonServices{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    margin-left: 5%;
    background-image: linear-gradient(to right,#284177,#EDE8E4);
    color: white;
}

