body{
    margin: 0px;
}

.navbarUL{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    display: block;
    overflow: hidden;
    height: 30px;
    padding-top: 10px;
    background-image: linear-gradient(to right,#284177,#EDE8E4);
}
.navbar a.navbarAnchor{
    text-decoration: none;
    padding: 25px;
    color: #ffffff;
    font-family: Copperplate;
}
.navbar a.navbarAnchor:hover{
    background-color: #535353;
}
.navbarList{
    float: left;
}
