body{
    margin: 0;
    background-color: black;
}
.Container {
    display: flex;
    justify-content: space-between; /* Ensures the divs are side by side */
    width: 100vw;
    float: left;

}

.ServicesTableTitles {
    width: 40vw;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 10px;
    border-left: 0;


}
.ServicesTableTitles h3{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: "Bona Nova SC", serif;
    color: white;

}
.ServicesTableTitles h4{
    margin-left: 100px;
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    font-family: "Bona Nova SC", serif;
    color: white;
    text-decoration: overline;

}

.ServicesTableDescription{
    width: 60vw;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: white;
    border-right: 0;


}

.ServicesTableDescription h4{
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 0;
    padding-right: 0;
    font-weight: normal;
    font-size: 14px;
    font-family: "Bona Nova SC", serif;
    color: white;
    text-align: justify-all;

}
h1{
    margin-left: 100px;
    font-weight: bold;
    font-family: "Bona Nova SC", serif;
    color: white;

}
h2{
    margin-left: 100px;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 30px;
    font-family: "Bona Nova SC", serif;
    color: white;
}

